.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.info {
    height:50px;
    font-size:12px;
}

.info-title {
    font-weight: bold;
}

#countDownText {
    display: block;
    margin: 5px 2px;
    font-size: 21px;
    font-weight: bold;
    text-align:center;
}

#ajaxLoader {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 900;
    /*display: none;*/
}

.ajaxLoaderImg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -53px;
    margin-left: -80px;
    z-index: 10000;
}

.map-page {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.map-content {
    padding: 0px;
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    bottom: 33px;
}

.ui-input-search {
    width: 37%;
    display: inline-block;
    margin-left: 15px;
}

.ui-header {
    z-index: 1000;
}

#mode_fieldset {
    
}

#mode_fieldset .ui-btn-text {
    font-size: 14px;
}

#inout_fieldset {
    float: left;
    position: relative;
    top: 4px;
    margin-left: 5px;
}

#info_panel {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 20px;
    overflow: auto;
    z-index: 5000;
}

#trip_panel {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: auto;
    z-index: 1000;
}

.trip_panel_bulk {
    padding: 5px 10px;
    background: white;
}

div.map_panel {
    position: absolute;
    left: 5px;
    top: 47px;
    margin: 2px;
    background: rgba(255,255,255,0.9);
    border: 1px solid rgb(150,150,150);
}

#directions_panel {
    width: 197px;
    max-height: 300px;
    overflow: auto;
    padding: 0px 5px 10px 5px;
    display: none;
}