.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.info {
    height:50px;
    font-size:12px;
}

.info-title {
    font-weight: bold;
}

#countDownText {
    display: block;
    margin: 5px 2px;
    font-size: 21px;
    font-weight: bold;
    text-align:center;
}

#ajaxLoader {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 900;
    /*display: none;*/
}

.ajaxLoaderImg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -53px;
    margin-left: -80px;
    z-index: 10000;
}

.map-page {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.map-content {
    padding: 0px;
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    bottom: 33px;
}

.ui-input-search {
    width: 25%;
    display: inline-block;
    margin-left: 10px;
}

.ui-header {
    z-index: 1000;
}

#inout_fieldset {
    float: left;
    position: relative;
    top: 4px;
    margin-left: 10px;
}

#info_panel {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 20px;
    overflow: auto;
    z-index: 5000;
}

#trip_panel {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: auto;
    z-index: 1000;
}

.trip_panel_bulk {
    padding: 5px 10px;
    background: white;
}

#trip_content {
    margin-bottom: 8px;
}

#mode_fieldset {
    
}

#mode_fieldset img {
    height: 25px;
}

#bicycle_button .ui-btn-inner {
    padding: 4px 10px;
}

#car_button .ui-btn-inner {
    padding: 4px 14px;
}

#walking_button .ui-btn-inner {
    padding: 3px 22px 1px 22px;
}

#walking_button img {
    height: 29px;
}

#info_panel .time_text {
    display: inline-block;
    padding: 5px 0px;
}

#info_panel .icon_group {
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
}

#info_panel .travel_icon {
    height: 18px;
    border-radius: 4px;
    margin-right: 4px;
    padding: 5px 10px;
    border: 1px solid rgb(200,200,200);
    vertical-align: bottom;
    background-image: -webkit-linear-gradient(top,rgb(135, 223, 139),rgb(0, 153, 7));
}

#info_panel .travel_icon.disabled {
    -webkit-filter: opacity(0.3);
    background-image: none;
}

#info_panel .travel_icon.hurried {
    background-image: -webkit-linear-gradient(top,rgb(255, 211, 36),rgb(204, 167, 50));
}

div.map_panel {
    position: absolute;
    left: 5px;
    top: 47px;
    margin: 2px;
    background: rgba(255,255,255,0.9);
    border: 1px solid rgb(150,150,150);
}

#directions_panel {
    width: 197px;
    max-height: 300px;
    overflow: auto;
    padding: 0px 5px 10px 5px;
    display: none;
}

#minutes {
    font-weight: bold;
}