.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.info {
    height:50px;
    font-size:12px;
}

.info-title {
    font-weight: bold;
}

#countDownText {
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 7px;
    padding:7px;
    text-align:center;
}

.ajaxLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    z-index: 100;
    display:none;
}

.map-page {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.map-content {
    padding: 0px;
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    bottom: 33px;
}

.ui-input-search {
    width: 37%;
    display: inline-block;
    margin-left: 15px;
}

#inout_fieldset {
    float: left;
    position: relative;
    top: 4px;
    margin-left: 5px;
}

#info_panel {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 20px;
    overflow: auto;
    z-index: 5000;
}

#trip_panel {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 20px;
    overflow: auto;
    z-index: 1000;
}